<h5>Signal Queries</h5>
<p>
  This was all a lot to absorb, and there's one more thing, but we won't cover it. There's a new thing called 
  <em>Signal Queries</em> that sort of replace things like <em>&#64;ViewChild</em>. You can read more about them 
  <a href="https://angular.dev/guide/components/queries" target="_blank">here</a>.
</p>
<div class="row mt-4 mb-4">
  <div class="col-6 text-start">
    <button routerLink="/model-inputs" class="btn btn-primary">Previous: Model Inputs</button>
  </div>
  <div class="col-6 text-end">
    <button routerLink="/exercise" class="btn btn-primary">Next: Learning Exercise</button>
  </div>
</div>
