<p>
  Model inputs are signal inputs that let you propagate new values back to the parent component.
</p>
<p>
  Model inputs can be updated, and if bound with two-way binding, the parent component gets the updated value.
</p>
<p>
  You can bind to a signal or a regular JavaScript variable.
</p>
<div class="row mt-4 mb-4">
  <div class="col-6 text-start">
    <button routerLink="/signal-inputs" class="btn btn-primary">Previous: Signals Inputs</button>
  </div>
  <div class="col-6 text-end">
    <button routerLink="/" class="btn btn-primary">Next: TODO</button>
  </div>
</div>
