<div class="row">
  <div class="col-6">
    <div class="row widget">
      <div class="col-12">
        <h1>Welcome!</h1>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row widget">
      <div class="col-12">
        <p>
          This time we're going to cover the following topics:
        </p>
        <ul>Inject-Based Dependency Injection</ul>
        <ul>OnPush Change Detection</ul>
        <ul>Image Optimization</ul>
        <ul>Signals (Again!)</ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text-end mt-4">
    <button routerLink="/inject" class="btn btn-primary">Let's Go</button>
  </div>
</div>